﻿
body .top-bar {
    background-color: red;
}
body .top-bar .main-bar{
    background-color: brown;
    display:flex;
}


    body .top-bar .main-bar .contact-left {
        width: 50%;
        background-color: blue;
        justify-content: center;
        margin: 0 0;
        display: flex;
    }

    body .top-bar .main-bar .login-right {
        width: 50%;
        display: inline-block;
        justify-content: center;
        margin: 0 5px;
        background-color: aqua;
      
    }
